body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

.top-navbar {
  padding: 1rem;
  max-height: 60px;
}

.top-navbar .left {
  flex: 2;
}

.top-navbar .center {
  flex: 4;
}

.top-navbar .right {
  flex: 2;
}

.top-navbar .search-input {
  width: 100%;
  padding-left: 1rem;
  border: 1px solid var(--clr-black-mid);
  border-radius: var(--border-radius-sm);
}

main {
  min-height: 100vh;
  flex-direction: column;
}

footer {
  padding: 1rem;
  border-radius: var(--border-radius-sm);
  background-color: var(--clr-primary-outline);
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 0.75rem;
  }

  .top-navbar .left {
    flex: 1;
  }

  .top-navbar .center {
    flex: 2;
  }

  .top-navbar .right {
    flex: 3;
  }
}
